{% extends 'ponv/base.html' %}

{% block content %}
<div>
    <p>This app predicts postoperative nausea and vomitin (PONV) and determines if preventive medication is needed.</p>
    <p>Conditions : 20 years and over, Thoracoscopic surgery, Intravenous anesthesia, No prophylaxis for PONV.</p>
    <p><b><font color="red">Notes: It is a test operation. Do not use in medical practice.</font></b></p>
</div>
</br>
<form action="" method="post">
    {% csrf_token %}

    <div>
        <label>{{ form.age.label }}</label>: {{ form.age }}
        <p>{{ form.age.errors }}</p>
    </div>
    <div>
        <label>{{ form.gender.label }}</label>: {{ form.gender }}&nbsp;&nbsp;&nbsp;&nbsp;{{ form.gender.help_text }}
        <p>{{ form.gender.errors }}</p>
    </div>
    <div>
        <label>{{ form.smoking_history.label }}</label>: {{ form.smoking_history }}&nbsp;&nbsp;&nbsp;&nbsp;{{ form.smoking_history.help_text }}
        <p>{{ form.smoking_history.errors }}</p>
        
    </div>
    <div>
        <label>{{ form.history_of_PONV.label }}</label>: {{ form.history_of_PONV }}&nbsp;&nbsp;&nbsp;&nbsp;{{ form.history_of_PONV.help_text }}
        <p>{{ form.history_of_PONV.errors }}</p>
    </div>
    <div>
        <label>{{ form.anxiety.label }}</label>: {{ form.anxiety }}&nbsp;&nbsp;&nbsp;&nbsp;{{ form.anxiety.help_text }}
        <p>{{ form.anxiety.errors }}</p>
        <p>Anxiety score quantified by HADS.</p>
    </div>
    
    <input type="submit" value="Submit">
</form>



{% if form.is_valid %}
<div>
    </br>
    <p> The model predicted: <b>{{ prediction_name }}</b></p>
    </br>
    </br> 
    </br>  
</div>
{% endif %}

{% endblock %}
