{% extends 'ponv/base.html' %}

{% block content %}
<div>
    <p>Predict PONV (postoperative nausea and vomiting) and answer if prophylaxis is needed.</p></br>
    <p>Conditions : Thoracoscopic surgery, Intravenous anesthesia, No prophylaxis for PONV.</p></br>
    <p>This prediction model is created based on Japanese data.</p></br>
    <p>「smoke」: if you never smoked, impout 0 else imput 1.</p></br>
    <p>「anxiety」: Enter the degree of anxiety as a number from 1 to 21.</br>
        (instead Japanese version of Hospital Anxiety and Depression Scale)</p></br>
    <p><b><font color="red">Notes: It is a test operation. Do not use in medical practice.</font></b></p></br>
</div>
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>

{% if form.is_valid %}
</br>
</br>
<p> The model predicted: <b>{{ prediction_name }}</b></p>
</br>
</br>
{% endif %}

{% endblock %}